@import "~bootstrap/scss/bootstrap";
@import './sass/line';
.modal {
    display: block;
    background-color: #0000005f;
}

body {
    background-color: rgb(228, 217, 146);
}

.img-bin {
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    label {
        margin: 0 10px;
        cursor: pointer;
        user-select: none;
        position: absolute;
        background-color: black;
        width: 30px;
        height: 30px;
        color: white;
        top: 1px;
        left: -1px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 25%;
        z-index: 10;
    }
    [type=checkbox] {
        display: none;
    }
    img {
        height: auto;
        width: 150px;
        display: block;
        position: relative;
        z-index: 5;
    }
    [type=checkbox]:checked~img {
        opacity: 0.3;
    }
}

.red-image {
    font-size: 14px;
    line-height: 34px;
    padding: 0 20px;
}

h5 small {
    font-size: 70%;
    color: skyblue;
    cursor: pointer;
    user-select: none;
}

.msg-bin {
    position: fixed;
    top: 45px;
    right: 20px;
    z-index: 100;
    .toast {
        display: block;
        margin: 10px;
        opacity: 0.75;
        &.ok {
            background-color: aquamarine;
            color: black;
        }
        &.error {
            background-color: crimson;
            color: black;
        }
        &.info {
            background-color: skyblue;
            color: black;
        }
    }
}